/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pacifico&display=swap");

/* Tailwind */
@import "tailwindcss";

@theme {
  --font-all: "Outfit", sans-serif;
  --font-chatcom: "Pacifico", cursive;
  --color-chatcom: #4f46e5;
  --color-hover: #2b2a41;
  /* --color-chatcom: #5d4fff; */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
